<footer class="page-footer font-small blue pt-4 mt-4">
  <div class="row" style="background-color:blueviolet;height:2px;margin:0; width:100%;">
  </div>
  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left" style="background-color:rgb(42, 6, 59);color:whitesmoke;padding: 20px 20px 40px">
    <div class="row" style="text-align:left;font-family:Imprint MT Shadow;padding-left:10px">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <h1>
          <b>The Sanctuary</b>
        </h1>
      </div>
    </div>

    <!--First column-->
    <div class="container-fluid text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3" style="text-align:justify;text-align-last:center;">
        <div class="col-md-1"></div>
        <div class="col-md-3" style="padding:10px 0px 10px">
          <h4>

            <strong>
              <i class="fas fa-users"></i> About Us</strong>

          </h4>
          <p style="font-size:12px;">The Sanctuary offers 255 spacious rooms and suites, including the 3000 square foot Presidential Suite. Our king
            rooms are among the largest on the East Coast with the smallest measuring 520 square feet. All hotel rooms are
            uniquely designed to include such exquisite amenities as a handcrafted desk and armoire, an elegantly appointed
            sofa and chair, and custom made beds.</p>
        </div>
        <!--/.First column-->
        <div class="col-md-1"></div>
        <!--Second column-->
        <div class="col-md-2" style="padding:10px 0px 10px">
          <h4>

            <strong>
              <i class="fas fa-map-marker-alt"></i> Location</strong>

          </h4>
          <p style="font-size:12px;">The Sanctuary Hotel is now have 20 properties in two Countries.
            <br>1.New Zealand (Nelson, Wellington, Hamilton)
            <br>2.Australia (Perth, Cairn, alicSprings, Adelide, Brisbane, Canberra)
          </p>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-3" style="padding:10px 0px 10px">
          <h4>

            <strong>
              <i class="fas fa-phone-square"></i> Contact Us</strong>

          </h4>
          <p style="font-size:12px;">We are always there for you.Any help please contact with us. Address: 132 W 47th St, New York, NY 10036, USA Phone:
            +1 212-234-7000 </p>
        </div>
        <div class="col-md-1"></div>

      </div>
    </div>
    <div class="row" style="padding:30px"></div>
    <div class="row" style="background-color:blueviolet;height:2px;margin:0; width:100%;">

    </div>
    © 2018 Copyright:Sanctuary
    <!--/.Second column-->
  </div>


</footer>