<div class="container">
  <div class="row">
    <p style="text-align:center;font-family:Imprint MT Shadow;color:blueviolet; font-size:35px;margin:0px;">
      <b>
        CAB AVAILABILITIES</b>
    </p>
  </div>
  <!-- <div class="row" style="padding:50px"></div> -->
  <div class="row">
    <p style="height:50px;font-size:40px;font-family:Copperplate Gothic Impact;text-align:center;">
      <b>
        Australia
      </b>
    </p>
  </div>
  <!--first row-->
  <div class="row">
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Canberra</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img src="./assets/Cab/c1.jpg" class="images1" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: Canberra Elite Cabs
          <br> Location: Canberra, Australia
          <br> Contact No: 7585757386
          <br> Email: canberra@elite.com.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--another-->
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Sydney</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img src="./assets/Cab/c3.jpg" class="images1" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: TravelCamra Cabs
          <br> Location: Sedney, Australia
          <br> Contact No: 7585757386
          <br> Email: booking@travelCamracabs.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--another-->
    <div class="col-md-4">
      <!--aldaide-->
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Adelaide</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c10.gif" calss="images2" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: 13Cabs
          <br> Location: Auckland, NZ
          <br> Contact No: 1764504563
          <br> Email: 13Cabs@gmail.com
        </mat-card-footer>
      </mat-card>
      <!--Aldeiade-->
    </div>
  </div>
  <br>
  <br>

  <!--Second Row-->
  <div class="row">
    <!--2nd row first Column-->
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>BrishBane</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c13.jpg" calss="images2" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: Evoke Shuttle Services
          <br> Location: Brisbane, Queensland
          <br> Contact No: 3876977678
          <br> Email: evoke@hotmail.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--2nd row first coolumn-->
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Perth</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c2.jpg" calss="images2" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name:Royale Cabs
          <br> Location:Perth, Western Australia
          <br> Contact No:7585565884
          <br> Email:booking@royalecabs.com
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-4">
      <!--3rd column-->
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Melbourne</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c7.jpg" calss="images2" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: Autobahn
          <br> Location: Melbourne, New South Wales
          <br> Contact No: 9564534578
          <br> Email: hello@autobahn.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--3rd col of 2 nd row-->
  </div>
  <br>
  <!--Second Row-->

  <!--New Zealand-->
  <div class="row">
    <p style="height:50px;font-size:40px;font-family:Copperplate Gothic Impact;text-align:center;">
      <b>
        New Zealand
      </b>
    </p>
  </div>

  <!--first row-->
  <div class="row">
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Wellington</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c9.gif" class="images1" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: Corporate Cabs
          <br> Location: Wellington,New Zealand
          <br> Contact No: 7585757386
          <br> Email: booking@CorporateCabs.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--another-->
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Auckland</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c12.jpg" class="images1" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: Comfort Delgro Cabs
          <br> Location: New Zealand
          <br> COntact No: 7585757386
          <br> Emial: Comfor@tDelgro.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--another-->
    <!--new zealand first row 3rd column-->
    <div class="col-md-4">
      <mat-card style="margin:10px;padding:10px">
        <mat-card-header>
          <mat-card-title style="font-size:25px;margin:0">
            <b>Nelson</b>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <img  src="./assets/Cab/c8.png" calss="images2" width="100%" height="206">
        </mat-card-content>
        <mat-card-footer>
          Agency Name: Silver Cabs
          <br> LocationL: Christchurch, NZ
          <br> Contact No: 1675220811
          <br> Email: SilverCabs@gmail.com
        </mat-card-footer>
      </mat-card>
    </div>
    <!--new Zealand first row 3rd column-->
  </div>
  <br>
  <br>
  <!--New Zealand-->
</div>