<div class="container">
  <div class="row">
    <p style="text-align:center;font-family:Imprint MT Shadow;color:blueviolet; font-size:35px;margin:0;">
      <b>
        ASSETS</b>
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <!-- <ng-container matColumnDef="BookingFromDate">
                        <mat-header-cell *matHeaderCellDef> Location Id </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Location.LocationId }} </mat-cell>
                    </ng-container> -->

          <!-- Name Column -->
          <ng-container matColumnDef="City">
            <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Location.LocationCity }} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Country">
            <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.RoomType }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="view_booking(row)"></mat-row>
        </mat-table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="example-list" *ngIf="!dataSource2">
        <i class="far fa-list-alt"></i>&nbsp;&nbsp;
        <i class="far fa-calendar-check"></i>&nbsp;&nbsp;
        <i class="far fa-edit"></i>
        <br>
        <b>Assets</b>
      </div>
      <div class="example-form" *ngIf="dataSource2">
        <div class="row">

          <div class="col-sm-12">
            <b>Room Type :</b>{{dataSource2.RoomType}} </div>

        </div>
        <div class="row">
          <div class="col-sm-12">
            <b>No Of Rooms :</b> {{dataSource2.NoOfRooms}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <b>Room Price :</b> {{dataSource2.RoomPrice}}</div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <b>City :</b> {{dataSource2.Location.LocationCity}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <b>Country :</b> {{dataSource2.Location.LocationCountry}}</div>
        </div>

      </div>
    </div>
  </div>
</div>