<div class="container">
  <div class="row" style="width:100%;margin:0">

    <!-- <div class="col-md-12" style="text-align:center;"> -->
    <div class="col-sm-4" style="text-align:center;">
      <img src="./assets/images/Admin2.jpg" class="img-rounded" alt="Cinque Terre" width="70%" height="200" />
    </div>
    <div class="col-sm-8" style="text-align:center;padding:0">
      <img src="./assets/images/Admin.jpg" class="img-rounded" alt="Cinque Terre" width="90%" height="200" />
    </div>
  </div>
  <div class="row" style="width:100%; height:30px">
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- <img src="./assets/im3.jpg" class="img-rounded" alt="Cinque Terre" width="400" height="236"/> -->
      <mat-card class="card1">
        <mat-card-header>
          <mat-card-title>
            <p style="font-size:20px;">
              <i class="fas fa-cog fa-2x fa-spin"></i>
              <b> Location Settings</b>
            </p>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/Asset2Admin.jpg" class="image1" width="200" height="206">
        <mat-card-content>
          <button type="button" routerLink="/adminLocation" class="btn btn-info">Location Settings</button>
        </mat-card-content>

      </mat-card>
    </div>
    <div class="col-md-6">
      <!-- <img src="./assets/im2.jpg" class="img-rounded" alt="Cinque Terre" width="400" height="236"/> -->
      <mat-card class="card1">
        <mat-card-header>
          <mat-card-title>
            <p style="font-size:20px">
              <i class="fas fa-cog fa-2x fa-spin"></i>
              <b> Assets Settings</b>
            </p>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/AdminAssets2.jpg" class="image1" width="200" height="206">
        <mat-card-content>
          <button type="button" routerLink="/adminAsset" class="btn btn-info">Assets Settings</button>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="row" style="width:100%; height:40px">
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-card class="card1" style="margin:0px;">
        <mat-card-header>
          <mat-card-title>
            <p style="font-size:20px">
              <i class="fas fa-cog fa-2x fa-spin"></i>
              <b> Admin Role Settings</b>
            </p>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/Adminrole.png" class="image1" width="200" height="206">
        <mat-card-content>
          <button type="button" routerLink="/adminRole" class="btn btn-info">Admin role Settings</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="card1">
        <mat-card-header>
          <mat-card-title>
            <p style="font-size:20px;">
              <i class="fas fa-cog fa-2x fa-spin"></i>
              <b> View Assets </b>
            </p>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/Location.jpg" class="image1" width="200" height="206">
        <mat-card-content>
          <button type="button" routerLink="/showAssets" class="btn btn-info">View Assets</button>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
  <br>
  <br>
</div>